<div class="menu">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Kategorie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li *ngFor="let tempProductCategory of productCategories" class="nav-item" >
                    <a class="nav-link" routerLink="/category/{{ tempProductCategory.categoryId }}" routerLinkActive="active-link">{{ tempProductCategory.name }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>