<main class="content">
  <div class="search-menu">
    <div class="search">
      <input class="search-input" placeholder=" Wyszukaj">
    </div>
    <div class="search">
      <button class="search-button">Szukaj</button>
    </div>
  </div>
  <div class="product" *ngFor="let tempProduct of productList">
    <img src="{{ tempProduct.imageUrl }}">
    <div class="product-name">
      <p>{{tempProduct.name}}</p>
    </div>
    <div class="product-property">
      <hr>
      <p>{{ tempProduct.price}} zł</p>
      <button class="add-to-basket-button btn btn-dark" href="#">Dodaj do koszyka</button>
    </div>
  </div>

  <div class="pagination">
    <ngb-pagination [(page)]="thePageNumber" 
                    [pageSize]="thePageSize" 
                    [collectionSize]="theTotalElements"
                    [maxSize]="4"
                    [boundaryLinks]="true"
                    (pageChange)="listOfProducts()">
    </ngb-pagination>
    <div class="product-quantity mt-2">
        <span class="mr-2">Ilość produktów</span>
        <select (change)="updateProductsQuantity($event.target.value)">
          <option selected="true">8</option>
          <option>16</option>
          <option>32</option>
          <option>64</option>
        </select>
    </div>
  </div>
</main>
