<main class="content">
  <div class="search-menu">
    <div class="search">
      <input class="search-input" placeholder=" Wyszukaj">
    </div>
    <div class="search">
      <button class="search-button">Szukaj</button>
    </div>
  </div>
    <div class="product" *ngFor="let tempProduct of productList">
      <img src="{{ tempProduct.imageUrl }}">
      <div class="product-name">
        <p>{{tempProduct.name}}</p>
      </div>
      <div class="product-property">
        <hr>
        <p>{{ tempProduct.price}} zł</p>
        <button class="add-to-basket-button btn btn-dark" href="#">Dodaj do koszyka</button>
      </div>
    </div>
</main>